body {
  background-color: #FBFCF7; 
  font-family: "Helvetica Neue";
  line-height: 2;
  width: 80%;
  margin: 0 auto;
}

#main-content {

}

#article-break {
  height: 40px; 
}

#article-text {
  font-size: 18px; 
}

#comment-header {
  font-size: 22px;
  color: #9B9B9B;
}

.comment-username {
  font-size: 18px;
}

.comment-time {
  font-size: 14px; 
  color: #9B9B9B;
}

.comment-text {
  font-size: 15px; 
}

.comment-interactions {
  float: right; 
  margin-bottom: 4px; 
}

.comment-reply {
  margin: 0 auto; 
  float: clear; 
  display: flex; 
  clear: right;
}

.reply-area {
  visibility: hidden;
}

.response-button {
    background-color: #FBFCF7; 
    border: none;
    color: #9B9B9B;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right; 
    cursor: pointer; 
    text-align: center; 
    margin: 4px;
}

.reply-button {
  color: #16A085;
}

.main-button {
  float: none; 
}
.button-icon {
  width: 12px; 
  height: 12px;
}

.reply-textarea {
  border-radius: 4px;
  background-color: white; 
  width: 100%;
  overflow: none; 
  border: 1px solid #979797;
  flex: 1;
  padding-left: 4px;
  resize: none; 
}

.report-area {
  display: flex; 
  visibility: hidden; 
}

.report-button {
  color: #F06C09; 
}

