*{font-size: 14px;list-style: none;text-decoration: none;margin: 0;padding: 0;}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after{clear: both;}
.clearfix:before, .clearfix:after{
  content: '';
  display: table;
}
a{
  color: #666;
}

html{
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}
table.border {
    border-collapse: collapse;
    border-spacing: 0;
}
table.border td,
table.border th {
    border: 1px solid grey;
    padding: 3px;
}

.container {
	color: inherit ;
	max-width: 580px ;
	margin: 0 auto; 
}

.survey1a {
	float: left ;
	width: 50% ;
}
.survey1b {
	float: left ;
	width: 50% ;
}
.survey2a {
	float: left ;
	width: 33% ;
}
.survey2b {
	float: left ;
	width: 33% ;
}
.survey2c {
	float: left ;
	width: 33%
}

.surveytable {
    padding: 15px;
    text-align: left;
}
